.tdata{
    width: 200px;
}
table {
    tbody{
        tr{
            text-align: center; 
            td {
                border: 1px solid black;
                width: 200px;
                font-size: 14px;    
            }
            td:first-child {
                width: 500px;
                text-align: left;
            }
        }
    }
}
.reportContainer{
    padding-left:200px;
    padding-right:200px;
    
    padding-top:600px;
}