
.grid_container {
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 10px;
  }
  .sidebar-nav{
    font-size: 18px;
    height: 100vh;
  }
  .sidebar-nav > div {
    padding: 2px 8px;
    margin-bottom: 5px;
  }
  .nav-btn{
    background-color:white;
    border:0px;
    padding: 5px 20px;
  }
